VITE_FIREBASE_API_KEY="AIzaSyCoJUbdbQiutD5VbE5nAH7sE2p0csefEBg"
VITE_FIREBASE_AUTH_DOMAIN="fitpilot-7d44e.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="fitpilot-7d44e"
VITE_FIREBASE_STORAGE_BUCKET="fitpilot-7d44e.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="279858669182"
VITE_FIREBASE_APP_ID="1:279858669182:web:a184ed234712d537f25a2f"
